<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mongodb</title>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="body">

    <div class="container">
        <header class="header">
            <div>
                <img src="~/images/logo.png" >
            </div>
            <nav class="menu">
            <div class="dropdown">
                <button class="btn">ИНВЕСТОРАМ</button>
                <div class="dropdown-content">
                    <a class="nav-item" href="#">Ссылка 1</a>
                    <a class="nav-item" href="#">Ссылка 2</a>
                    <a class="nav-item" href="#">Ссылка 3</a>
                </div>
                <div class="image-triengl"> <img src="images/arrow.png" alt=""></div>
            </div>
            <div class="dropdown">
                <button class="btn">ЗАЕМЩИКАМ</button>
                <div class="dropdown-content">
                    <a class="nav-item" href="#">Ссылка 1</a>
                    <a class="nav-item" href="#">Ссылка 2</a>
                    <a class="nav-item" href="#">Ссылка 3</a>
                </div>
                <div class="image-triengl"> <img src="images/arrow.png" alt=""></div>
            </div>
            <div class="dropdown">
                <button class="btn">ЗАЯВКИ</button>
                <div class="dropdown-content">
                    <a class="nav-item" href="#">Ссылка 1</a>
                    <a class="nav-item" href="#">Ссылка 2</a>
                    <a class="nav-item" href="#">Ссылка 3</a>
                </div>
                <div class="image-triengl"> <img src="images/arrow.png" alt=""></div>
            </div>
            <div class="dropdown">
                <button class="btn">ПРЕДЛОЖЕНИЯ</button>
                <div class="dropdown-content">
                    <a class="nav-item" href="#">Ссылка 1</a>
                    <a class="nav-item" href="#">Ссылка 2</a>
                    <a class="nav-item" href="#">Ссылка 3</a>
                </div>
                <div class="image-triengl"> <img src="images/arrow.png" alt=""></div>
            </div>
            <div class="dropdown">
                <button class="btn">СПРАВКА</button>
                <div class="dropdown-content">
                    <a class="nav-item" href="#">Ссылка 1</a>
                    <a class="nav-item" href="#">Ссылка 2</a>
                    <a class="nav-item" href="#">Ссылка 3</a>
                </div>
                <div class="image-triengl"> <img src="images/arrow.png" alt=""></div>
            </div>
             <a class="nav-item" href="#"> КОНТАКТЫ</a>
            </nav>
            <div class="infor-btn">
                <a href="#" class="in">Вход</a>
                    <a href="Registration/Create" class="registration-btn">Зарегистрироваться</a>
            </div> 
            <div class="burger-menu">
                <div>
                <img src="images/material-symbols_menu-rounded.png" alt="">
            </div>
            </div>
        </header>
        <div class="line"></div>
    
    
        <div class="main-text">Сервис <span style="white-space: nowrap;">онлайн-заимствования</span></div>
        <div class="main-cart-row">
            <div class="cart-holder">
                <div class="main-cart">
                    <div class="hed-text-cart">Выдавайте и берите займы онлайн</div>
                    <div class="body-text-cart">Сервис онлайн заимствования: и обеспечения исполнения обязательств требований законодательства и Национального банка Республики Беларусь</div>
                </div>
                <div class="main-cart-image">
                    <img src="images/shutterstock_2189869797 2.png" alt="">
                </div>
            </div>
        </div>
        <div class="carts-main">
            <div class="cart-down-main-">
                <div class="in-cart-down-main">
                    <div class="head-in-cart-down-main">
                        <div class="text-head-in-cart-down-main">Инвесторам</div>
                        <div class="text-in-cart-down-main">и обеспечения исполнения обязательств требований законодательства и Национального банка Республики Беларусь</div>
                    </div>
                    <div class="button-carts-main-duwn">
                        <div class="image-group-6"><img src="images/Group 6.png" alt=""></div>
                        <div class="text-image-group-6">Видео-гид</div>
                        <div class="image-vector"><img src="images/Vector.png" alt=""></div>
                    </div>
                </div>
                
            </div>
            <div class="cart-down-main-">
                <div class="in-cart-down-main">
                    <div class="head-in-cart-down-main">
                        <div class="text-head-in-cart-down-main">Финансирование частных лиц</div>
                        <div class="text-in-cart-down-main">и обеспечения исполнения обязательств требований законодательства и Национального банка Республики Беларусь</div>
                    </div>
                    <div class="button-carts-main-duwn">
                        <div class="image-group-6"><img src="images/Group 6.png" alt=""></div>
                        <div class="text-image-group-6">Видео-гид</div>
                        <div class="image-vector"><img src="images/Vector.png" alt=""></div>
                    </div>
                </div>    
            </div>
            <div class="cart-down-main-">
                <div class="in-cart-down-main">
                    <div class="head-in-cart-down-main">
                        <div class="text-head-in-cart-down-main">Финансирование бизнеса</div>
                        <div class="text-in-cart-down-main">и обеспечения исполнения обязательств требований законодательства и Национального банка Республики Беларусь</div>
                    </div>
                    <div class="button-carts-main-duwn">
                        <div class="image-group-6"><img src="images/Group 6.png" alt=""></div>
                        <div class="text-image-group-6">Видео-гид</div>
                        <div class="image-vector"><img src="images/Vector.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-down-main">
            <div class="text-in-info-down-main">Преймущества онлайн-займов</div>
                <div class="main-cart-in-info-down-main">
                    <div class="carts-in-info-down-main">
                        <div class="cart-carts-in-info-down-main">
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">Гарантируем соответствие договоров займа</div>
                                <div class="text-in-cart-in-info-hed-down-main">и обеспечения исполнения обязательств требований законодательства и Национального банка Республики Беларусь</div>
                            </div>
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">Ввозможность обращения в Третейский суд</div>
                                <div class="text-in-cart-in-info-hed-down-main">При несвоевременном погашении долга заемщиками мы предоставляем кредиторам возможность обращения в Третейский суд</div>
                            </div>
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">Расчеты банковскими карточками</div>
                                <div class="text-in-cart-in-info-hed-down-main">Расчёты по сделкам, заключённым на нашей площадке, осуществляются с использованием банковских пластиковых карточек</div>
                            </div>
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">Мы проводим индентификацию</div>
                                <div class="text-in-cart-in-info-hed-down-main">Мы проводим индентификацию каждого участника сервиса</div>
                            </div>
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">Фиксируется в кредитном регистре</div>
                                <div class="text-in-cart-in-info-hed-down-main">Информация о всех заключенных сделках фиксируется в кредитном регистре Национального банка Республики Беларусь</div>
                            </div>
                            <div class="cart">
                                <div class="text-in-cart-in-info-down-main">системе рейтинговой оценки</div>
                                <div class="text-in-cart-in-info-hed-down-main">Вы всегда будете знать с кем имете дело благодаря нашей системе рейтинговой оценки</div>
                            </div>
                        </div>
                    </div>
                <div class="cart-in-info-down-main">
                    <div class="cart-in-info-down-main-under">
                        <div class="cart-in-info-down-main-under-head">Личный кабинет</div>
                        <div class="cart-in-info-down-main-main">В личном кабинете вам будет доступен широкий спектр возможностей:</div>
                        <div class="menu-cart-info">
                            <div class="in-menu-cart-info">
                                <div><img src="images/Polygon 2.png" alt=""></div>
                                <div class="txt-in-menu-cart-info">предложения по займам</div>
                            </div>
                            <div class="in-menu-cart-info">
                                <div><img src="images/Polygon 2.png" alt=""></div>
                                <div class="txt-in-menu-cart-info">выдача и возврот</div>
                            </div>
                            <div class="in-menu-cart-info">
                                <div><img src="images/Polygon 2.png" alt=""></div>
                                <div class="txt-in-menu-cart-info">аналитика и история операций</div>
                            </div>
                            <div class="in-menu-cart-info">
                                <div><img src="images/Polygon 2.png" alt=""></div>
                                <div class="txt-in-menu-cart-info">рейтинговая оценка</div>
                            </div>
                        </div>
                    </div>
                        
                </div>
                
            </div>
        </div>
        <div class="info-down-main">
            <div class="text-in-info-down-main">О сервисе</div>
                <div class="main-cart-servis">
                    <div class="carts-in-servis-down-main"> 
                        <div class="main-cart-servis-under">
                            <div class="cart-carts-in-servis-down-main">
                                <div class="cart-servis">
                                    <div><img src="images/Frame.png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Реестр сервисов онлайн заимствования</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Мы включены в реестр сервисов онлайн заимствования</div>
                                </div>
                                <div class="cart-servis">
                                    <div><img src="images/Group.png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Реестр поставщиков платежных услуг</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Мы включены в реестр поставщиков платежных услуг</div>
                                </div>
                                <div class="cart-servis">
                                <div><img src="images/Group (2).png " alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Персональные данные защищены</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Система защиты информации аттестована по классу 3-ин, 3-юл.</div>
                                </div>
                                <div class="cart-servis">
                                <div><img src="images/Group (1).png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Сделано в Беларуси</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Все наше Оборудование размещено на территории Беларуси</div>
                                </div>
                                <div class="cart-servis">
                                    <div><img src="images/Group (3).png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Резидент ПВТ</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Резидент Парка высоких технологий</div>
                                </div>
                                <div class="cart-servis">
                                    <div><img src="images/Group (4).png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Техническая поддержка и мониторинг 24/7</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Наши специалисты всегда готовы помочь</div>
                                </div>
                                <div class="cart-servis">
                                    <div ><img src="images/noun-bank-1582382 1.png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main" >Межбанковская система идентификации (МСИ)</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Являемся получателем данных из МСИ</div>
                                </div>
                                <div class="cart-servis">
                                    <div><img src="images/Group (7).png" alt=""></div>
                                    <div class="text-in-cart-in-servis-down-main">Кредитный регистр</div>
                                    <div class="text-in-cart-in-info-hed-down-main">Является участником Кредитного регистра Национального банка Республики Беларусь</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carts-in-info-s-down-main"> 
                       <div class="carts-info-servis"> 
                        <div class="text-head-in-servis">
                            Остались вопросы по сервису?
                        </div>
                        <div class="text-servic">Свяжитесь с нами любым удобным образом и мы с удовольствием проконсультируем вас:</div>
                        <div class="for-servis-contacts">
                            <div>
                                <div class="number-in-servis">
                                    <div class="text-info-number">+375 (17) 552-00-99</div>
                                    <div class="text-info-type">городской</div>
                                </div>
                                <div class="number-in-servis">
                                    <div class="text-info-number">+375 (17) 552-00-99</div>
                                    <div class="text-info-type">MTC</div>
                                </div>
                                <div class="number-in-servis">
                                    <div class="text-info-number">+375 (17) 552-00-99</div>
                                    <div class="text-info-type">A1</div>
                                </div>
                            </div>
                            <div>
                                <div style="margin-top: 10px;">
                                    <div class="mail-text">info@mongo.by</div>
                                </div>
                                <div style="margin-top: 10px;">
                                    <img src="images/socials.png" alt="">
                                    <img src="images/socials (2).png" alt="">
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div ></div>
                </div>
        </div>
        <div class="dow-site-head">
            <div class="text-in-site-down-main">Начните зарабатывать с нами</div>
            <a href="#" class="bt-in-site-down-head">Зарегистрироваться</a>
        </div>
        <footer class="footer-main">
            <div class="footer-blok">
                <div class="footer-info-blok">
                    <div class="floter-info-blok-first">
                        <img src="../../wwwroot/images/_лой_1-2.png" alt="">
                        <div style="margin-top: 30px;">
                            <div class="number-in-servis">
                                <div class="text-info-number-fluter">+375 (17) 552-00-99</div>
                                <div class="text-info-type">городской</div>
                            </div>
                            <div class="number-in-servis">
                                <div class="text-info-number-fluter">+375 (17) 552-00-99</div>
                                <div class="text-info-type">MTC</div>
                            </div>
                            <div class="number-in-servis">
                                <div class="text-info-number-fluter">+375 (17) 552-00-99</div>
                                <div class="text-info-type">A1</div>
                            </div>
                            <div style="margin-top: 10px;">
                                <div class="mail-text-flooter">info@mongo.by</div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom: 40px;">
                                <img src="images/socials.png" alt="">
                                <img src="images/socials (2).png" alt="">
                            </div>
                        </div>
                        <div class="mail-text-flooter">220014, Республика Беларусь, г. Минск, пр-т Жукова, д. 44, каб. 510
                            <br><br>211446, Республика Беларусь, г. Новополоцк, ул. Юбилейная, д. 2а, каб. 306</div>
                    </div>
                    <div class="second-blok-flooter">
                        <div class="second-blok-floter-main">
                            <div class="main-blok-in-cecond">
                                <a href="#" class="btn-flooter">Инвесторам</a>
                                <a href="#" class="btn-flooter">Заемщикам физическим лицам</a>
                                <a href="#" class="btn-flooter">Заемщикам бизнеса</a>
                                <a href="#" class="btn-flooter">Заявки физических лиц</a>
                                <a href="#" class="btn-flooter">Заявки бизнеса</a>
                                <a href="#" class="btn-flooter">Предложения</a>
                            </div>
                            <div class="second-blok-in-cecond">
                                <a href="#" class="btn-flooter">Раскрытие информации</a>
                                <a href="#" class="btn-flooter">Документы</a>
                                <a href="#" class="btn-flooter">FAQ</a>
                                <a href="#" class="btn-flooter">О нас</a>
                                <a href="#" class="btn-flooter">О рейтинге заемщика</a>
                            </div>
                        </div>
                        <div class="uder-second-blok">
                            <div class="under-blok-second-blok-fluter">
                                <div class="txt-second-blok-flooter">Физическим лицам</div>
                                <a href="#" class="btn-flooter"> Популярные</a>
                                <a href="#" class="btn-flooter"> Индивидуальные</a>
                            </div>
                            <div class="under-blok-second-blok-fluter">
                                <div class="txt-second-blok-flooter">Бизнесу</div>
                                <a href="#" class="btn-flooter"> Популярные</a>
                                <a href="#" class="btn-flooter"> Индивидуальные</a>
                            </div>
                        </div>              
                    </div>
                </div>
                <div class="line-flooter"></div>
                <div class="flooter-uner-blok">
                    <div class="info-floter-under-blok">ООО «ТриИнком» – официальный сервис онлайн-заимсвования, 2023<br>
                        Зарегистрирован в реестре сервисов онлайн-заимствования № 3 от 15.03.2023</div>
                    <div class="img-flooter-under-blok">
                        <img src="../../wwwroot/images/image 1.png" alt="">
                        <img src="../../wwwroot/images/image 2.png" alt="">
                        <img src="../../wwwroot/images/image 3.png" alt="">
                        <img src="../../wwwroot/images/image 4.png" alt="">
                        <img src="../../wwwroot/images/image 5.png" alt="">
                        <img src="../../wwwroot/images/image 6.png" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>